{% extends 'base.html' %}
{% load static %}

{% block title %}
    This Post Title
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
            <address>By Apurba</address>
            <div>
                Last Updated On <time>July 10th</time>
            </div>
        </artcle>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et fugiat veniam quaerat voluptates voluptatem ipsum similique ratione, debitis veritatis deserunt, quisquam dolore perferendis nemo sapiente rerum illum eligendi inventore facere.
        </p>
    </main>

{% endblock content %}